<div class="stat-card">
    <div class="stat-content" [appShimmer]="!showContent">
      <!-- Real content -->
      <div class="content-wrapper" *ngIf="showContent">
        <h2>{{ value }}{{ suffix }}</h2>
        <p>{{ label }}</p>
      </div>
      <!-- Shimmer placeholders -->
      <div class="shimmer-wrapper" *ngIf="!showContent">
        <div class="shimmer-value"></div>
        <div class="shimmer-label"></div>
      </div>
    </div>
  
    <div class="icon-wrapper" [class]="colorClass">
      <i [class]="icon"></i>
    </div>
  </div>