<!-- src\app\features\cases\components\case-form\case-form.component.html-->
<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{ case ? 'تعديل حالة' : 'إضافة حالة جديدة' }}</h4>
    <button type="button" class="close" (click)="dismiss()">
      <span>&times;</span>
    </button>
  </div>

  <form [formGroup]="caseForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <!-- Basic Information -->
      <div class="form-section">
        <h5>المعلومات الأساسية</h5>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>الاسم</label>
              <input 
                type="text" 
                class="form-control" 
                formControlName="name"
                [class.is-invalid]="isFieldInvalid('name')"
              >
              <div class="invalid-feedback" *ngIf="isFieldInvalid('name')">
                {{ getFieldError('name') }}
              </div>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="form-group">
              <label>العمر</label>
              <input 
                type="number" 
                class="form-control" 
                formControlName="age"
                [class.is-invalid]="isFieldInvalid('age')"
              >
              <div class="invalid-feedback" *ngIf="isFieldInvalid('age')">
                {{ getFieldError('age') }}
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>اسم ولي الأمر</label>
              <input 
                type="text" 
                class="form-control" 
                formControlName="guardianName"
                [class.is-invalid]="isFieldInvalid('guardianName')"
              >
              <div class="invalid-feedback" *ngIf="isFieldInvalid('guardianName')">
                {{ getFieldError('guardianName') }}
              </div>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="form-group">
              <label>رقم الهاتف</label>
              <input 
                type="tel" 
                class="form-control" 
                formControlName="contactNumber"
                [class.is-invalid]="isFieldInvalid('contactNumber')"
              >
              <div class="invalid-feedback" *ngIf="isFieldInvalid('contactNumber')">
                {{ getFieldError('contactNumber') }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Medical Information -->
      <div class="form-section">
        <h5>المعلومات الطبية</h5>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>الاحتياجات الخاصة</label>
              <textarea 
                class="form-control" 
                formControlName="specialNeeds"
                rows="3"
              ></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>التشخيص الأولي</label>
              <input 
                type="text" 
                class="form-control" 
                formControlName="primaryDiagnosis"
              >
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="form-group">
              <label>التشخيص الثانوي</label>
              <input 
                type="text" 
                class="form-control" 
                formControlName="secondaryDiagnosis"
              >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>التاريخ الطبي</label>
              <textarea 
                class="form-control" 
                formControlName="medicalHistory"
                rows="3"
              ></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>الأدوية الحالية</label>
              <textarea 
                class="form-control" 
                formControlName="currentMedications"
                rows="2"
              ></textarea>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="form-group">
              <label>الحساسية</label>
              <textarea 
                class="form-control" 
                formControlName="allergies"
                rows="2"
              ></textarea>
            </div>
          </div>
        </div>
      </div>

      <!-- Educational Information -->
      <div class="form-section">
        <h5>المعلومات التعليمية</h5>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>اسم المدرسة</label>
              <input 
                type="text" 
                class="form-control" 
                formControlName="schoolName"
              >
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="form-group">
              <label>المرحلة الدراسية</label>
              <input 
                type="text" 
                class="form-control" 
                formControlName="gradeLevel"
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button 
        type="button" 
        class="btn btn-secondary" 
        (click)="dismiss()">
        إلغاء
      </button>
      <button 
        type="submit" 
        class="btn btn-primary"
        [disabled]="isSubmitting">
        {{ isSubmitting ? 'جاري الحفظ...' : (case ? 'تحديث' : 'حفظ') }}
      </button>
    </div>
  </form>
</div>
